<div class="container">
  <div class="col-8 d-block mx-auto mt-5">
    <div class="h1 text-center">
      To Do List
    </div>
    <div class="d-flex justify-content-center mt-3">
      <div class="col-6">
        <form class="">
            <div class="form-group">
              <input 
                type="text" 
                class="form-control" 
                placeholder="Enter Task Name"
                name="taskName"
                [(ngModel)]="taskName"
                />
            </div>
        </form>
      </div>
      <button type="submit" class="btn btn-primary ms-3" (click)="handleClickAddTask()">Add</button>
      <div class="dropdown ms-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-bs-toggle="dropdown" aria-expanded="false">
        Filter
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkBoxStatus.todo" (change)="handleFilter()" />
                        <label class="form-check-label" >Todo</label>
                    </div>
                </a>
            </li>
            <li>
                <a class="dropdown-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkBoxStatus.inProgress" (change)="handleFilter()" />
                        <label class="form-check-label" >In Progress</label>
                    </div>
                </a>
            </li>
            <li>
                <a class="dropdown-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"[(ngModel)]="checkBoxStatus.complete" (change)="handleFilter()"/>
                        <label class="form-check-label">Complete</label>
                    </div>
                </a>
            </li>
        </ul>
      </div>
    </div>
    
    
    <div cdkDropList class="drop-list mt-5 col-10 overflow-visible" (cdkDropListDropped)="drop($event)">
      <div class="drop-box" *ngFor="let todo of todos; let i = index" cdkDrag>
        <div class="col-8">
            <span class="fs-4">{{todos[i].taskName}}</span>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{todos[i].status}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="todos[i].status='Todo'; updateTodo(i);">Todo</button>
              <button class="dropdown-item" type="button" (click)="todos[i].status='In Progress';updateTodo(i);">In Progress</button>
              <button class="dropdown-item" type="button" (click)="todos[i].status='Complete';updateTodo(i);">Complete</button>
            </div>
          </div>
          <i role="button" class="bi bi-pencil-square fs-4 ms-2" (click)="openModal(i)"></i>
          <i role="button" class="bi bi-trash3-fill fs-4 ms-2" (click)="deleteTodo(i)"></i>
        </div>

      </div>
    </div>
  </div>

  
  
</div>